.jimu-widget-northarrow {

	border-radius: 5px;
    background-image:url('/widgets/NorthArrow/images/north-arrow.svg');
    background-size: 60px 80px;
    background-repeat: no-repeat;
    width: 60px !important;
    height: 80px !important;
}

